# --------------------
# Backend - Python / Django
# --------------------
examia_backend/venv/
examia_backend/__pycache__/
examia_backend/*.sqlite3
examia_backend/*.pyc
examia_backend/*.log

# --------------------
# Frontend - Node / React / Angular
# --------------------
examia-frontend/dist/
examia-frontend/tmp/
examia-frontend/out-tsc/
examia-frontend/bazel-out/
examia-frontend/node_modules/
examia-frontend/npm-debug.log
examia-frontend/yarn-error.log
examia-frontend/.angular/cache/
examia-frontend/**/*.tsbuildinfo

# Angular / Vite cache
examia-frontend/.vite/
examia-frontend/.env
examia-frontend/.env.local
examia-frontend/.env.*.local

# Optional: si no quieres trackear package-lock.json
# examia-frontend/package-lock.json

# --------------------
# IDEs and editors
# --------------------
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# --------------------
# Miscellaneous / System
# --------------------
.sass-cache/
.connect.lock
.coverage
.libpeerconnection.log
testem.log
/typings
.DS_Store
Thumbs.db
node_modules/
*.tsbuildinfo
